body {
  font-family: Arial, Helvetica, sans-serif;
  /* min-width: 1024px; */
}
.background {
  background-color: #e3e2df;
}
.paddingB50 {
  padding-bottom: 50px;
}

.nav-container {
  padding: 0 8rem;
}

.nav-name {
  font-size: 1.5rem;
  float: left;
}

.nav-right {
  float: right;
}

@media only screen and (max-width: 550px) {
  .nav-container {
    padding: 0 1rem;
  }
}
